.banner {
    color:rgb(0, 0, 0);
    background-color: #e5b761;
}

.banner__content {
    max-width: fit-content;
    padding: 200px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    font-weight: 300;


}

.banner__text {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 70px;
}

.banner__close {
    color:white;
    cursor:pointer;
}

.banner__close:hover {
    color:orangered;
    cursor:pointer;
    animation: fadeIn 2s;
}

.main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn 5s;
    padding: 100px;
    align-items: center;
    
}

body {
    animation: fadeIn 3s;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100px;
    width: 100px;
}


.load__screen {
    animation: fadeIn 2s;
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .photo {
    display: none;
    align-items: center;
    text-align: center;
  }


#lucario {
    width: 500px;
    animation: growback;
    animation-duration: 0.6s;
    
}



#lucario:hover {
    width: 600px;
    animation: grow;
    animation-duration: 0.6s;
}

@keyframes grow {
    0% {width: 500px;
    };
    100% {width: 600px;
    };
}

@keyframes growback {
    0% {width: 600px;
    };
    100% {width: 500px;
    };
}

#pictures {
    background-color: white;
    color:orange;
    font-weight: 12px;
    border: single;
    padding:15px 32px;
    text-decoration: center;
    display: inline-block;
    font-size: 16px;
}

#pictures:hover {
    background-color: orange;
    color:white;
    size:20px;
    font-weight: 12px;
    border: single;
    border-color: white;
    padding:15px 32px;
    text-decoration: center;
    display: inline-block;
    font-size: 16px;
}

.tip {
    color:grey;
    font-size:11px;
}